version: '3.8'

services:
  db:
    image: mysql:8.0
    env_file:
      - .env.docker
    volumes:
      - db_data:/var/lib/mysql
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql

  api:
    build: ./app
    ports:
      - "8000:80"
    depends_on:
      - db

volumes:
  db_data: